* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url(../assets/images/Fondo.png);
    height: 85vh;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #353f47cf;
    padding: 2.7% 18%;
}

.nav-titulo {
    color: white;
    font-size: 1rem;
}

.nav-span-azul {
    color: #4BCAFF;
}

.nav-enlces a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 20px;
    border: 2px solid transparent;
    transition: 0.2s ease;
    padding: 4px 10px;

}

.nav-enlces a:hover {
    color: #4BCAFF;
    border-color: #4BCAFF;
}

.seccion-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.seccion-1-titulo-1 {
    color: white;
    font-weight: 100;
    font-size: 2.4rem;
    text-align: center;
    background-color: #353f47cf;
    padding: 0.3%;
}

.seccion-2 {
    background-color: #4BCAFF;
    display: flex;
    justify-content: space-evenly;
    padding: 7.5% 14.5%;
    color: white;
    height: 40vh;
}

.coffee-titulo {
    margin: 5% 0;
    font-weight: lighter;
}

.coffee-parrafo {
    font-size: 0.7rem;
    max-width: 250px;
}

.seccion-3 {
    padding: 4% 18%;
}

.seccion-3-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
}

.portfolio-enlaces a {
    color: #69747B;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 25px;
    border: 2px solid transparent;
    transition: 0.2s ease;
    padding: 4px 10px;
}

.portfolio-titulo {
    display: inline-block;
    width: 3.5%;
    font-weight: lighter;
    color: #69747B;
    border-bottom: 2px solid #69747B;
}

.portfolio-enlaces a:hover {
    color: #4BCAFF;
    border-color: #4BCAFF;
}

.seccion-3-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 25.60%);
    grid-template-rows: repeat(2, 55%);
}

.seccion-3-imagenes img {
    width: 90%;
}

.seccion-4 {
    display: flex;
    justify-content: space-between;
    background-color: #515F67;
    padding: 4% 18%;
    color: white;
}

.seccion-4-texto-titulo {
    display: inline-block;
    width: 8%;
    font-weight: lighter;
    color: white;
    border-bottom: 2px solid white;
    white-space: nowrap;
    margin-bottom: 8%;
}

.seccion-4-texto-parrafo-1 {
    font-weight: lighter;
    font-size: 0.9rem;
    max-width: 490px;
    margin-bottom: 6%;
}

.seccion-4-texto-parrafo-2 {
    font-weight: lighter;
    font-size: 0.9rem;
    max-width: 490px;
    margin-bottom: 5.5%;
}

.seccion-4-texto-boton {
    background-color: transparent;
    border-color: #353F46;
    color: #353F46;
    font-weight: bolder;
    font-size: 0.9rem;
    padding: 3% 9%;
}

.seccion-5 {
    background-color: #4bc9ff;
    padding: 4% 18%;
    color: white;
}

.seccion-5-horizontal {
    display: flex;
    justify-content: space-between;
}

.seccion-5-horizontal img {
    width: 2.5%;
    height: 2.5%;
}

.seccion-5-texto-titulo {
    display: inline-block;
    width: 3.5%;
    font-weight: lighter;
    border-bottom: 2px solid white;
    font-size: 1.7rem;
}

.seccion-5-parrafo {
    font-size: 1.6rem;
    font-weight: lighter;
    margin: 2% 0;
}

.seccion-5-arroba {
    font-size: 1.6rem;
    font-weight: lighter;
}

.arroba {
    font-weight: bolder;
}

.seccion-6 {
    background-image: url(../assets/images/bg_whoIs.png);
    height: 55vh;
    background-size: cover;
    background-position: center;
    padding: 4% 18%;
    color: white;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion-6-titulo {
    display: inline-block;
    width: 3.5%;
    font-weight: lighter;
    border-bottom: 2px solid white;
    margin-bottom: 50px;
    font-size: 1.7rem;
}

.texto-1 {
    font-size: 0.9rem;
}

.textos-iconos {
    display: grid;
    white-space: wrap;
}

.textos-iconos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 15px;
    row-gap: 25px;
}

.iconos {
    display: flex;
    gap: 20px;
}

.seccion-7 {
    padding: 4% 18%;
}

.seccion-7-horizontal {
    display: flex;
    justify-content: space-between;
}

.seccion-7-horizontal img {
    width: 3%;
    height: 3%;
}

.seccion-7-texto-titulo {
    display: inline-block;
    width: 3.5%;
    font-weight: lighter;
    border-bottom: 2px solid #515F67;
    color: #515F67;
    font-size: 1.7rem;
}

.seccion-7-parrafo {
    font-size: 1.6rem;
    font-weight: lighter;
    color: #515F67;
    margin: 3% 0;
    line-height: 200%;
}

.seccion-7-parrafo-azul {
    font-size: 0.9rem;
    font-weight: bolder;
    color: #4bc9ff;
}

.seccion-8 {
    padding: 4% 18%;
    background-image: url(../assets/images/bg_contact.png);
    height: 90vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.seccion-8-titulo {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: lighter;
    border-bottom: 2px solid white;
    width: 3%;
    margin-bottom: 3%;
}

form {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, 2, 4 25%);
    row-gap: 8%;
}

.full-name,
.email,
.message {
    font-size: 0.9rem;
}

form,
input {
    background-color: transparent;
    border-color: white;
    color: white;
    margin-top: 5px;
}

.input-message {
    grid-column: 1/3;
}

.seccion-8-parrafo-1 {
    font-size: 0.9rem;
}

.input-pequeños {
    width: 80%;
    padding: 3% 0;
}

.input-grande {
    width: 100%;
    height: 10%;
    padding: 10% 0;
}

.seccion-8-boton {
    background-color: #4BCAFF;
    color: white;
    border: none;
    width: 63%;
    font-weight: bolder;
    padding: 15px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #353F47;
    padding: 4% 20%;
    color: #515F67;
    text-decoration: none;
    align-items: center;
}

.footer-enlaces {
    display: flex;
    gap: 20px;
}

.footer-enlaces a {
    color: #515F67;
    text-decoration: none;
    font-size: 0.9rem;
    padding-right: 15px;
    border-right: 1px solid #515F67;
}

.footer-enlaces a:last-child {
    border-right: none;
    padding-right: 0;
}

.footer-copyright {
    font-size: 0.9rem;
}

@media (max-width: 1279px) {
    .seccion-4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .seccion-4-texto-titulo {
         width: 52%;;
    }

    .seccion-4-texto-boton {
        margin-bottom: 30px;
    }
}

@media (max-width: 921px) {
    body {
        width: 100vw;
    }

    nav {
        flex-direction: column;
        gap: 25px;
    }

    .seccion-1-titulo-1 {
        font-size: 2rem;
    }

    .seccion-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
        height: 110vh;
    }

    .seccion-3 {
        height: 60vh;
    }

    .seccion-3-portfolio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .portfolio-titulo {
        width: 21.5%;
    }

    .seccion-5-horizontal img {
        width: 5%;
        height: 5%;
    }

    .iconos img {
        width: 25%;
        height: 50%;
    }

    .seccion-8 {
        height: 75vh;
    }
}

@media (max-width: 920px) {
    .nav-enlces a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .seccion-1 {
        height: 50vh;
    }

    .seccion-1-titulo-1 {
        font-size: 1.5rem;
    }

    .seccion-3 {
        height: 72vh;
    }

    .portfolio-enlaces a {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
    }

    .seccion-4 {
        height: 86vh;
    }
      .seccion-4-texto-titulo {
        width: 52%;
    }
    .seccion-4-imagen img{
        width: 100%;
    }

.seccion-5-horizontal img {
    width: 5%;
    height: 5%;
}

.seccion-5-texto-titulo {
    font-size: 1.7rem;
}

.seccion-5-parrafo {
    font-size:0.9rem;

}

.seccion-5-arroba {
    font-size: 0.9rem;
}

.arroba {
    
    font-weight: bolder;
}
}