* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url(../assets/images/Fondo.png);
    height: 80vh;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #454f57d8;
    padding: 3% 20%;
}

.nav-titulo {
    color: white;
    font-size: 1rem;
}

.nav-span-azul {
    color: #4BCAFF;
}

.nav-enlces a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 35px;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.nav-enlces a:hover {
    color: #4BCAFF;
    border-color: #4BCAFF;
}

.seccion-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.seccion-1-titulo-1 {
    color: white;
    font-weight: 100;
    font-size: 2.4rem;
    text-align: center;
    background-color: #454f57d8;
    padding: 1%;
}

.seccion-2 {
    background-color: #4BCAFF;
    display: flex;
    justify-content: space-evenly;
    padding: 8% 17.7%;
    color: white;
    height: 40vh;
}

.coffee-titulo {
    margin: 5% 0;
    font-weight: lighter;
}

.coffee-parrafo {
    font-size: 0.7rem;
    max-width: 250px;
}

.seccion-3 {
    padding: 4% 20%;
}

.seccion-3-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.portfolio-enlaces a {
    color: #69747B;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 35px;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.portfolio-titulo {
    font-weight: lighter;
    color: #69747B;
    border-bottom: 1px solid #69747B;

}

.portfolio-enlaces a:hover {
    color: #4BCAFF;
    border-color: #4BCAFF;
}

.seccion-3-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 31vh);
    grid-template-rows: repeat(2, 15.5vw);
}

.seccion-4 {
    display: flex;
    justify-content: space-between;
    background-color: #515F67;
    padding: 4% 20%;
    color: white;
}

.seccion-4-texto-titulo {
    font-weight: lighter;
    border-bottom: 1px solid white;
}

.seccion-4-texto-parrafo {
    font-weight: lighter;
    font-size: 0.8rem;
    max-width: 440px;
}

.seccion-5 {
    background-color: #4BCAFF;
    padding: 4% 20%;
}

.seccion-6 {
    background-image: url(../assets/images/bg_whoIs.png);
    height: 55vh;
    background-size: cover;
    background-position: center;
    padding: 4% 20%;
    color: white;
}
.textos-iconos{
    display: grid;
}

.seccion-7 {
    padding: 4% 20%;
}

.seccion-8 {
    padding: 4% 20%;
    background-image: url(../assets/images/bg_contact.png);
    height: 85vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.seccion-8-titulo {
    font-size: 2.4rem;
    font-weight: lighter;
}

form {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 50%);
}

.full-name,
.email,
.message {
    font-size: 0.8rem;
}

form,
input {
    background-color: transparent;
    border-color: white;
}
.input-message{
    grid-column: 1/3;
}
.seccion-8-parrafo-1{
    font-size: 0.9rem;
}
.seccion-8-boton{
    background-color: #4BCAFF;
    color: white;
    border: none;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #353F47;
    padding: 4% 20%;
    color: #515F67;
    text-decoration: none;
    align-items: center;
}

.footer-enlaces {
    display: flex;
    gap: 20px;
}

.footer-enlaces a {
    color: #515F67;
    text-decoration: none;
    font-size: 0.9rem;
    padding-right: 15px;
    border-right: 1px solid #515F67;
}

.footer-enlaces a:last-child {
    border-right: none;
    padding-right: 0;
}

.footer-copyright {
    font-size: 0.9rem;
}